.o_view_controller {
    position: relative;
    background-color: #F7F7F7;

    .control_panel {
        width: 420px;
        height: 100%;
        padding: 10px;
        overflow-y: auto;

        .models_list {
            padding: 0;
            list-style-type: none;
            z-index: 99;
    
            .model {
                position: relative;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
            }
            
            .model::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border: 5px solid transparent;
                border-left-color: black;
            }

            .model_open {
                background-color: #CBCBCB;
            }
            
            .model_open::before {
                transform: translate(-100%, 50%) rotate(90deg);
            }
    
            .fields_list {
                list-style-type: none;
                padding: 0;

                .field {
                    border: 1px black solid;
                    margin: 10px;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
        
        hr {
            width: 100%;
            height: 2px;
            margin: 0;
            color: #C0C0C0;
        }
    }

    .editor {
        display: flex;
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        align-items: center;
        margin: 0 !important;
        padding: 0;
        background-color: var(--body-bg);
        z-index: 1001;

        .iframe {
            width: 100%;
            height: 100%;
    
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .o_kanban_quick_add {
        display: none;
    }
}
